{% extends 'base.html' %}
{% load static %}
{% block matadescription %}
     {% if category %}
       {{ category.description|truncatewords:155 }}
     {% else %}
        Welcome to ABC store where you can buy defferent items..
     {% endif %}
{% endblock %}

{% block title %}
     {% if category %}
       {{ category.name}} - ABC store
     {% else %}
        See our new collection - ABC store
     {% endif %}
{% endblock %}


{% block content %}
{% if category %}
<div>
    <div class="row my_row_class">
        <div class="mx-auto">
        <p><a href ="{% url 'shop:allProdCat' %}">Our Product collections</a></p>
    </div>
        </div>
</div>
{% endif %}
<div class="mx_auto">
    {% if category %}
    <img class="my_image" src="{{category.image.url}}" alt="{{category.name}}" width="100%" height="500px">
</div>
<br>
<div>
    <h1 class="text-center my_title">{{category.name}}</h1>
    <p class="text-justify">{{category.description}}</p>
</div>
{% else %}
<div>
<img class="my_image my_image_padding" src="{% static 'img/banner2.png' %}" alt="our products" width="100%">
</div>
<br>
<div>
    <h1 class="text-center my_title">Our products collections</h1>
    <p class="text-justify">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
</div>
   {% endif %}
<div class="container">
    <div class="row mx_auto">
        {% for product in products.object_list %}
        <div class="my_bottom_margin col-9 col-sm-12  col-md-4 col-lg-4">
            <div class="card text-center" style="min-width:18rem;">

                <a href="{{product.get_url}}"><img class="card-img-top my_product_image" src="{{product.image.url}}" alt="{{product.name}}"></a>

                    <div class="card-body">
                <br><b>{{product.name}}</b>
                <br>Price : {{product.price}} rs
                </div>
                 </div>

        </div>
        {% endfor %}
    </div>
    <div class="mx_auto>">
        {% if products.paginator.num_pages > 1 %}

      <hr>
        <div class="text-center">
            {% for pg in products.paginator.page_range %}
               <a href="?page={{pg}}" class="btn btn-light btn-sm {% if products.number == pg %} active {% endif %}">{{pg}}</a>
            {% endfor %}
        </div>
          {% endif %}
    </div>
    <br>
</div>
{% endblock %}